openapi: 3.0.3
info:
  title: "ChargeAndTrack"
  description: This is the API of ChargeAndTrack
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0
servers:
  - url: https://localhost:3000/api/v1
tags:
  - name: account
    description: User account
  - name: app
    description: Application when logged in

paths:
  /login:
    post:
      tags:
        - account
      description: User login
      operationId: login
      parameters:
        - name: username
          in: query
          description: username
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: user password
          required: true
          schema:
            type: string
      responses:
        '200':
          description: user successfully logged in
          content:
            application/json:
              schema:
                type: object
                properties:
                  homeLink:
                    description: link to home page resource
                    type: string

  /home:
    get:
      tags: 
        - app
      responses:
        '200':
          description: OK
    post:
      tags: 
        - app
      responses:
        '200':
          description: OK

  /map:
    get:
      tags: 
        - app
      responses:
        '200':
          description: OK
    post:
      tags: 
        - app
      responses:
        '200':
          description: OK
